anyio==4.12.0
certifi==2025.11.12
click==8.3.1
contourpy==1.3.3
cycler==0.12.1
fonttools==4.61.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
joblib==1.5.3
kiwisolver==1.4.9
markdown-it-py==4.0.0
matplotlib==3.10.8
mdurl==0.1.2
numpy==2.3.5
packaging==25.0
pcpp==1.30
pillow==12.0.0
pyaml==25.7.0
Pygments==2.19.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
PyYAML==6.0.3
rich==13.9.4
scikit-learn==1.8.0
scikit-optimize==0.10.2
scipy==1.16.3
six==1.17.0
threadpoolctl==3.6.0
typing_extensions==4.15.0
volare==0.20.6
zstandard==0.25.0
